<div class="movie card">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ tmdb_image_for_movie(movie) }}" class="card-img-top" alt="{{ movie.title }}">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    {{ movie|formatMovieTitle }}
                    {% include 'videos/rating.html.twig' %}
                </h5>
                <p class="card-text">{{ movie.overview }}</p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#movie-{{ movie.id }}-details">
                    Lire le détail
                </button>
            </div>
        </div>
    </div>
</div>

<div class="movie modal fade" id="movie-{{ movie.id }}-details" data-movie-id="{{ movie.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                {% include 'videos/html5_player.html.twig' %}
                <p>Film: {{ movie|formatMovieTitle }}, {% include 'videos/rating-with-details.html.twig' %}</p>
            </div>
        </div>
    </div>
</div>
